<include file="Public/header"/>
<div class="row">
    <div class="col-md-12">
        <form class="layui-form" id="groupForm" method="post" autocomplete="off" action="">

            <div class="layui-form-item">
                <label class="layui-form-label">增加金额(分)：</label>
                <div class="layui-input-inline">
                    <input type="text" name="money" lay-verify="required" placeholder="请输入正整数" autocomplete="off"  id="money" class="layui-input">
                    <input type="hidden" name="id" value="<{$id}>">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">原因：</label>
                <div class="layui-input-inline">
                    <input type="text" name="remark" lay-verify="required" placeholder="请输入原因" autocomplete="off"  id="remark" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="info">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<include file="Public/footer"/>
<script>
    layui.use(['layer', 'form'], function(){
        var $ = layui.jquery
            ,form = layui.form
            ,layer = layui.layer;

        //监听提交
        form.on('submit(info)', function(data){

            $.ajax({
                url:"<{:U('PoolProviderMoney/AddProviderBalance')}>",
                type:"post",
                data:$('#groupForm').serialize(),
                success:function(res){
                    if(res.status){
                        layer.alert("操作成功", {icon: 6},function () {
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }else{

                        layer.msg(res.msg ? res.msg : "操作失败!", {icon: 5},function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                        return false;
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>