<include file="Public/header"/>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>API设置</h5>
            </div>
            <!--条件查询-->
            <div class="ibox-content">

                <address>
                    <strong>对接文档及Demo下载</strong><br><br>
                    点击下载：<a href="./Uploads/demo.rar">API文档及示例</a>
                  <br><br>
                  <a href="/Home_Index_document.html" target="_blank">在线浏览 API开发文档</a>
                </address>
                <address>
                    <strong>客服联系：</strong><br><br>
                    QQ：3597727846<br><br>
                   
                </address>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
</body>

</html>