<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>立即购买</title>
</head>
<body bgcolor="#eee">

<div style="margin: 0 auto; text-align:center">
    <a href="<{$url}>"
       style="outline: none;text-decoration:none;border-radius: 10px;
                background-color:#31aa43;color: #ffffff;width: 85%;max-width: 500px;line-height: 50px;
                font-size: 1.1em;display: inline-block;margin-top: 80px;">
        立 即 购 买</a>
</div>
</body>
</html>