<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i></div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
           
            <li>
               <a href="<{:U('Index/index')}>"> <i class="fa fa-home"></i>
                <span class="nav-label">管理中心</span></a>
                    

            </li>
            <li><a href="#"> <i class="fa fa fa-user"></i> 
              <span class="nav-label">账号管理</span> <span class="fa arrow"></span> </a>
            
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Account/profile")}>" class="J_menuItem"><span class="nav-label">账号信息</span></a> </li>
                    <li><a href="<{:U("Account/password")}>" class="J_menuItem"><span class="nav-label">登录密码</span></a> </li>
                    <li><a href="<{:U("Account/loginLog")}>" class="J_menuItem"><span class="nav-label">登录记录</span></a> </li>
                </ul>
            </li>
  
            

            <li><a href="#"> <i class="fa fa fa-gears"></i> <span class="nav-label">订单管理</span> <span
                    class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Order/index")}>" class="J_menuItem"><span class="nav-label">所有订单</strong></a></li>
                </ul>
            </li>

         
            <li><a href="#"> <i class="fa fa-money"></i> <span class="nav-label">流水记录</span> <span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Account/addLog",array('status'=>1))}>" class="J_menuItem"><span class="nav-label">加款记录</span></a> </li>
                    <li><a href="<{:U("Account/addLog",array('status'=>2))}>" class="J_menuItem"><span class="nav-label">减款记录</span></a> </li>
                    <li><a href="<{:U("Account/returnLog")}>" class="J_menuItem"><span class="nav-label">退款记录</span></a> </li>
                </ul>
            </li>
  

            <li><a href="#"> <i class="fa fa fa-bank"></i> <span class="nav-label">对接管理</span> <span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Documnet/api")}>" class="J_menuItem"><span class="nav-label">接入文档</span> </a>  </li>
                </ul>
            </li>

  

        </ul>
    </div>
</nav>
    