<include file="Public/header"/>
<div class="row">
  <div class="col-md-12">
    <form class="layui-form" id="groupForm" method="post" autocomplete="off" action="">

      <div class="layui-form-item">
        <label class="layui-form-label">号码商名称：</label>
        <div class="layui-input-inline">
          <input type="text" name="name" lay-verify="required" placeholder="请输入名称" autocomplete="off"  id="name" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">登录用户名：</label>
        <div class="layui-input-inline">
          <input type="text" name="username" lay-verify="required" placeholder="请输入用户名" autocomplete="off"  id="name" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">登录密码：</label>
        <div class="layui-input-inline">
          <input type="text" name="password" value="123456" lay-verify="required" placeholder="请输入初始密码" autocomplete="off"  id="name" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
            <label class="layui-form-label">联系人：</label>
            <div class="layui-input-inline">
                <input type="text" name="contact" lay-verify="required" placeholder="请输入联系人" autocomplete="off"  id="name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-inline">
                <input type="text" name="contact_tel"  lay-verify="required" placeholder="请输入联系人电话" autocomplete="off"  id="name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">爬虫通道：</label>
            <div class="layui-input-inline">
                <select name="robot">
                    <option value="0">默认通道</option>
                <foreach name="channel" item="v" key="k">
                <if condition="$v['paytype'] eq 1">
                    <option value="<{$v.id}>"><{$v.title}></option>
                </if>
                </foreach>
                </select>
            </div>
            
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">转发通道：</label>
            <div class="layui-input-inline">
                <select name="transe">
                    <option value="0">默认通道</option>
                <foreach name="channel" item="v" key="k">
                    <if condition="$v['paytype'] eq 3">
                        <option value="<{$v.id}>"><{$v.title}></option>
                    </if>
                </foreach>
                </select>
            </div>
            
        </div>
        <!-- <div class="layui-form-item">
            <label class="layui-form-label">号码验证：</label>
            <div class="layui-col-md12">  
                <input type="radio" name="checkphone" value="1" title="开启" checked>
                <input type="radio" name="checkphone" value="0" title="关闭">
            </div>
        </div> -->
        <div class="layui-form-item">
            <label class="layui-form-label">允许入库数：</label>
            <div class="layui-input-inline">
                <input type="text" name="limit_num"  lay-verify="required" placeholder="-1为不转号|0为全部转|大于0为号码池数量" autocomplete="off"  id="limit_num" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-col-md12">  
                <input type="radio" name="status" value="1" title="已认证" checked>
                <input type="radio" name="status" value="0" title="未认证" >
            </div>
        </div>

    <!-- <div class="layui-form-item">
        <label class="layui-form-label">配置: </label>
        <div class="layui-input-inline">
            <textarea type="text" name="config"  placeholder="" autocomplete="off"  id="name" class="layui-input"></textarea> 
        </div>
    </div> -->

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="info">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>
</div>
<include file="Public/footer"/>
<script>
  layui.use(['layer', 'form'], function(){
      var $ = layui.jquery
          ,form = layui.form
          ,layer = layui.layer;

      //监听提交
      form.on('submit(info)', function(data){

          $.ajax({
              url:"<{:U('PoolProvider/add')}>",
              type:"post",
              data:$('#groupForm').serialize(),
              success:function(res){
                  if(res.status){
                      layer.alert("操作成功", {icon: 6},function () {
                          parent.location.reload();
                          var index = parent.layer.getFrameIndex(window.name);
                          parent.layer.close(index);
                      });
                  }else{

                      layer.msg(res.msg ? res.msg : "操作失败!", {icon: 5},function () {
                        //   var index = parent.layer.getFrameIndex(window.name);
                        //   parent.layer.close(index);
                      });
                      return false;
                  }
              }
          });
          return false;
      });
  });
</script>
</body>
</html>