<include file="Public/header"/>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>号码商管理</h5>
                <div class="row">
                    <div class="col-sm-2 pull-right">
                        <a href="javascript:;" class="layui-btn layui-btn-small"
                           onclick="add('添加号码商','<{:U('PoolProvider/add')}>',400,550)">添加号码商</a>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                    <form class="layui-form" action="" method="get" autocomplete="off" id="sform">
                            <input type="hidden" name="m" value="<{$model}>">
                            <input type="hidden" name="c" value="User">
                            <input type="hidden" name="a" value="index">
                            <input type="hidden" name="p" value="1">
                            <div class="layui-form-item">
        
                                    <div class="layui-input-inline">
                                        <input type="text" name="k" autocomplete="off" placeholder="名称/联系人/电话" class="layui-input" value="<{$param['k']}>">
                                    </div>
    
                                <div class="layui-input-inline">
                                    <button onclick="$('#export').val(0);$('#sform').submit();" class="layui-btn"><span
                                            class="glyphicon glyphicon-search"></span> 搜索
                                    </button>
                                    <input type="hidden" id="export" name="export" value="0">
                                    <a onclick="$('#export').val(1);$('#sform').submit();"  class="layui-btn layui-btn-danger"><span class="glyphicon glyphicon-export"></span> 导出</a>
                                </div>
                            </div>
                        </form>
                <!--号码商列表-->
                <div class="list item">
                    <table class="layui-table" lay-data="{width:'100%'}">
                    <thead>
                        <tr>
                            <th lay-data="{field:'pay_orderid1', width:60}">#</th>
                            <th lay-data="{field:'pay_orderid2', width:150}">名称</th>
                            <th lay-data="{field:'pay_orderid3', width:80}">联系人</th>
                            <th lay-data="{field:'pay_orderid4', width:150}">联系电话</th>
                        <if condition="$param.status gt 0 ">
                            <th lay-data="{field:'pay_orderid5', width:150}">appkey</th>
                            <th lay-data="{field:'pay_orderid6', width:200}">appsecret</th>
                            <th lay-data="{field:'pay_orderid7', width:80}">总收入</th>
                            <th lay-data="{field:'pay_orderid8', width:80}">余额 (元)</th>
                        </if>
                            <th lay-data="{field:'pay_orderid9', width:80}">状态</th>
                            <th lay-data="{field:'pay_orderid10', width:180}">添加时间</th>
                            <th lay-data="{field:'pay_orderid11', width:400}">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="v">
                        <tr>
                            <td><{$v.id}></td>
                            <td><{$v.name}></td>
                            <td><{$v.contact}></td>
                            <td><{$v.contact_tel}></td>
                        <if condition="$param.status gt 0 ">
                            <td><{$v.appkey}></td>
                            <td><{$v.appsecret}></td>
                            <td><{$v.money}></td>
                            <td><{$v.balance}></td>
                        </if>
                            <td>
                                <if condition="$v.status eq 0 ">未认证
                                        <elseif condition="$v.status eq 1"/>正常
                                    <else /> 已关闭
                                    </if>
                            </td>
                            <td><{$v.create_time|date='Y-m-d H:i:s',###}></td>
                            <td>
                            <if condition="$param.status gt 0 ">
                                <a onclick="reset('<{$v[id]}>')" class="layui-btn layui-btn-danger layui-btn-mini">重置密钥</a>
                                <a onclick="x_admin_show('余额加钱', '<{:U('PoolProviderMoney/AddProviderBalance',['id'=>$v[id]])}>',440,300)" class="layui-btn layui-btn-danger layui-btn-mini">加钱</a>
                                <a href="<{:U('PoolProvider/order',['id'=>$v[id]])}>" class="layui-btn layui-btn-mini layui-btn-success">交易明细</a>
                                <a onclick="rate('费率设置','<{:U('PoolProvider/rate',['id'=>$v[id]])}>',380,480)" class="layui-btn layui-btn-success layui-btn-mini">费率</a>
                            </if>
                                <a onclick="edit('编辑号码商','<{:U('PoolProvider/edit',['id'=>$v[id]])}>',400,550)" class="layui-btn layui-btn-mini layui-btn-normal"><i class="layui-icon">&#xe642;</i>编辑</a>
                                <a onclick="del(this,'<{$v[id]}>')" class="layui-btn layui-btn-danger layui-btn-mini"><i class="layui-icon">&#xe640;</i>删除</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <{$page}>
            </div>
                <!--号码商列表-->
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    layui.use(['laypage','layer','form'], function() {
        var laypage = layui.laypage,
            $ = layui.jquery;
    });


    function add(title,url,w,h) {
        x_admin_show(title,url,w,h);
    }

    function edit(title,url,w,h) {
        x_admin_show(title,url,w,h);
    }
    function rate(title,url,w,h) {
        x_admin_show(title,url,w,h);
    }

    function del(obj,id) {
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"<{:U('PoolProvider/delete')}>",
                type:'get',
                data:'id='+id,
                success:function(res){
                    if(res.status){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }
                }
            });
        });
    }

    function reset(id) {
        layer.confirm('确认要重置密钥吗？',function(index){
            $.ajax({
                url:"<{:U('PoolProvider/reset')}>",
                type:'get',
                data:'id='+id,
                success:function(res){
                    if(res.status){
                        layer.msg('重置成功!',{icon:1,time:1000});
                    }
                }
            });
        });
    }

    function show(title,url,w,h){
        x_admin_show(title,url,w,h);
    }

    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , form = layui.form //表单
            , table = layui.table; //表格
    });

</script>
</body>
</html>