<include file="Public/header" />
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>话充订单管理</h5>
            </div>

            <div class="ibox-content">
                <form class="layui-form" action="" method="get" autocomplete="off" id="sform">
                    <input type="hidden" name="p" value="1">
                    <div class="layui-form-item">
                        <div class="layui-inline">

                            <div class="layui-input-inline">
                                <input type="text" name="order_id" autocomplete="off" placeholder="请输入平台订单号"
                                    class="layui-input" value="<{$param.order_id}>">
                            </div>

                            <div class="layui-input-inline">
                                <input type="text" name="trade_id" autocomplete="off" placeholder="充值流水号"
                                    class="layui-input" value="<{$param.trade_id}>">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="phone" autocomplete="off" placeholder="手机号" class="layui-input"
                                    value="<{$param.phone}>">
                            </div>

                            <div class="layui-input-inline" style="width:300px">
                                <input type="text" class="layui-input" name="create_time" id="create_time"
                                    placeholder="创建起始时间" value="<{$param.create_time}>">
                            </div>

                            <div class="layui-input-inline" style="width:80px;">
                                <input type="text" name="money" placeholder="金额" class="layui-input"
                                    value="<{$param.money}>">
                            </div>
                            <div class="layui-input-inline">
                                <select name="sp">
                                    <option value="">运营商</option>
                                    <volist name="sp_list" id="vo" key="k">
                                        <option <if condition="$param['sp'] eq $k">selected</if>
                                            value="<{$k}>"><{$vo}>
                                        </option>
                                    </volist>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="">全部状态</option>
                                    <option <if condition="$param['status'] neq '' && $status eq 0">selected</if>
                                        value="0">未回调</option>
                                    <option <if condition="$param['status'] eq 1">selected</if> value="1">回调完成</option>
                                    <option <if condition="$param['status'] eq 2">selected</if> value="2">退单</option>
                                </select>
                            </div>


                            <div class="layui-input-inline">
                                <button onclick="$('#export').val(0);$('#sform').submit();" class="layui-btn"><span
                                        class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                                <input type="hidden" id="export" name="export" value="0">
                                <a onclick="$('#export').val(1);$('#sform').submit();"
                                    class="layui-btn layui-btn-danger"><span class="glyphicon glyphicon-export"></span>
                                    导出</a>
                            </div>
                        </div>
                    </div>
                </form>

                <blockquote class="layui-elem-quote" style="font-size:14px;padding;8px;">
                    交易总额：<span class="label label-info">
                        <{$count.total.money|format_money}>元
                    </span>
                    上月总额：<span class="label label-info">
                        <{$count.month.money|format_money}>元
                    </span>
                    上周总额：<span class="label label-info">
                        <{$count.week.money|format_money}>元
                    </span>
                    今日总额：<span class="label label-info">
                        <{$count.today.money|format_money}>元
                    </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </blockquote>

                <blockquote class="layui-elem-quote" style="font-size:14px;padding;8px;">
                    订单总量：<span class="label label-info">
                        <{$count.total.count}>
                    </span>
                    今日订单量：<span class="label label-info">
                        <{$count.today.count}>
                    </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </blockquote>


                <div class="list item">
                    <table class="layui-table" lay-data="{width:'100%'}">
                        <thead>
                            <tr>
                                <th lay-data="{field:'pay_orderid', width:60}">#</th>
                                <th lay-data="{field:'pay_orderid1', width:150}">平台订单号</th>
                                <th lay-data="{field:'pay_orderid2', width:200}">充值流水号</th>
                                <th lay-data="{field:'pay_orderid6', width:150}">手机号</th>
                                <th lay-data="{field:'pay_orderid7', width:80,style:'color:#C00;'}">金额</th>
                                <th lay-data="{field:'pay_orderid8', width:100}">运营商</th>
                                <th lay-data="{field:'pay_orderid10', width:180}">创建时间</th>
                                <th lay-data="{field:'pay_orderid11', width:180}">成功时间</th>
                                <th lay-data="{field:'pay_orderid12', width:180}">状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="v">
                                    <php>
                                            $v['trade_id'] = !$v['trade_id'] ? $v['pool_trans_id'] :$v['trade_id'];
                                            $v['pay_applydate'] = !$v['pay_applydate'] ? $v['pool_order_time'] :$v['pay_applydate'];
                                            $v['pay_successdate'] = !$v['pay_successdate'] ? $v['pool_finish_time'] :$v['pay_successdate'];
                                            $v['success_url'] = !$v['success_url'] ? $v['pool_notify_url'] :$v['success_url'];
                                            
                                    </php>
                                <tr>
                                    <td>
                                        <{$v.id}>
                                    </td>
                                    <td>
                                        <{$v.order_id}>
                                    </td>
                                    <td>

                                                    <{$v.trade_id}>
                                        
                                    </td>
                                    <td>
                                        <{$v.phone}>
                                    </td>
                                    <td>
                                        <{$v.money|format_money}>
                                    </td>
                                    <td>
                                        <{$sp_list[$v['channel']]}>
                                    </td>
                                    <td>
    
                                            <{$v['pay_applydate'] > 0 ? date('Y-m-d H:i:s',$v['pay_applydate']):'---'}>
                                    </td>

                                    <td>
                                            <{$v['pay_successdate'] > 0 ? date('Y-m-d H:i:s',$v['pay_successdate']):'---'}>
                                    </td>
                                    <td>
                                        <if condition="$v.status eq 0 ">未回调
                                            <elseif condition="$v.status eq 1" />回调成功
                                            <elseif condition="$v.status eq 2" />退款
                                            <elseif condition="$v.status eq 3" />成功已通知超时
                                            <else />退款
                                        </if>
                                    </td>

                                </tr>
                            </volist>
                        </tbody>
                    </table>
                    <{$page}>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />
<script>
    layui.use(['laypage', 'layer', 'form'], function () {
        var laypage = layui.laypage,
            $ = layui.jquery;
    });

    function info(title, url, w, h) {
        x_admin_show(title, url, w, h);
    }

    function reNotice(id) {
        layer.confirm('确认要补发通知吗？', function (index) {
            $.ajax({
                url: "<{:U('Pay/Order/poolbufa')}>",
                type: 'get',
                data: 'id=' + id,
                success: function (res) {
                    layer.msg('补发申请已发出，请稍候刷新查看结果!', { icon: 1, time: 1000 });
                }
            });
        });
    }


    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , form = layui.form //表单
            , table = layui.table; //表格
        //日期时间范围
        laydate.render({
            elem: '#createtime'
            , type: 'datetime'
            , theme: 'molv'
            , range: '|'
        });
    });

</script>
</body>

</html>